<mat-toolbar color="warn" class="large-toolbar">
  <mat-icon style="font-size: 24px; margin: 12px">restaurant_menu</mat-icon>
  <span style="font-size: 24px">Recipe Manager</span>
</mat-toolbar>

<div class="content-wrapper">
  <div class="content-wrapper">
    <div class="container-wrapper">

      <div class="container">
        <button (click)="newMeal()" mat-raised-button color="warn">
          <mat-icon>add</mat-icon> Add Meal
        </button>
        <h2>New recipes</h2>

        <mat-card cdkDropList
                  id="new"
                  #newList="cdkDropList"
                  [cdkDropListData]="new"
                  [cdkDropListConnectedTo]="[breakfastList, lunchList, dinnerList]"
                  (cdkDropListDropped)="drop($event)"
                  class="list">
          <p class="empty-label" *ngIf="new.length === 0">No Meals</p>
          <mat-expansion-panel hideToggle="true" style="border-radius: 40px" (edit)="editMeal('new', meal)" *ngFor="let meal of new" cdkDrag>
            <mat-expansion-panel-header (click)="stopHeaderClick($event)">
              <mat-panel-title (click)="stopHeaderClick($event)">
                {{meal.title}}
              </mat-panel-title>
              <button mat-icon-button (click)="togglePanel()">
                <mat-icon>{{panelOpenState ? 'expand_less' : 'expand_more'}}</mat-icon>
              </button>
            </mat-expansion-panel-header>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewIngredientList=!this.viewIngredientList">
                View Ingredients
              </button>
            </section>
            <mat-list *ngIf="this.viewIngredientList" role="list">
              <mat-list-item role="listitem" *ngFor="let ingredient of meal.ingredientList">{{ingredient}}</mat-list-item>
            </mat-list>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewDescription=!this.viewDescription">
                View Description
              </button>
            </section>
            <p *ngIf="this.viewDescription">{{meal.description}}</p>
          </mat-expansion-panel>
        </mat-card>
      </div>

      <div class="container">
        <button (click)="getBreakfast()" mat-raised-button color="warn">
          <mat-icon>visibility</mat-icon> Get All Breakfasts
        </button>
        <h2>Breakfast</h2>

        <mat-card cdkDropList
                  id="breakfast"
                  #breakfastList="cdkDropList"
                  [cdkDropListData]="breakfast"
                  [cdkDropListConnectedTo]="[newList, lunchList, dinnerList]"
                  (cdkDropListDropped)="drop($event)"
                  class="list">
          <p class="empty-label" *ngIf="breakfast.length === 0 && breakfastFromDB.length === 0">No Meals</p>

          <mat-expansion-panel hideToggle="true" style="border-radius: 40px" (edit)="editMeal('breakfast', meal)" *ngFor="let meal of breakfast" cdkDrag>
            <mat-expansion-panel-header (click)="stopHeaderClick($event)">
              <mat-panel-title (click)="stopHeaderClick($event)">
                {{meal.title}}
              </mat-panel-title>
              <button mat-icon-button (click)="togglePanel()">
                <mat-icon>{{panelOpenState ? 'expand_less' : 'expand_more'}}</mat-icon>
              </button>
            </mat-expansion-panel-header>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewIngredientList=!this.viewIngredientList">
                View Ingredients
              </button>
            </section>
            <mat-list *ngIf="this.viewIngredientList" role="list">
              <mat-list-item role="listitem" *ngFor="let ingredient of meal.ingredientList">{{ingredient}}</mat-list-item>
            </mat-list>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewDescription=!this.viewDescription">
                View Description
              </button>
            </section>
            <p *ngIf="this.viewDescription">{{meal.description}}</p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle="true" style="border-radius: 40px" *ngFor="let meal of breakfastFromDB" cdkDrag>
            <mat-expansion-panel-header (click)="stopHeaderClick($event)">
              <mat-panel-title (click)="stopHeaderClick($event)">
                {{meal.title}}
              </mat-panel-title>
              <button mat-icon-button (click)="togglePanel()">
                <mat-icon>{{panelOpenState ? 'expand_less' : 'expand_more'}}</mat-icon>
              </button>
            </mat-expansion-panel-header>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewIngredientList=!this.viewIngredientList">
                View Ingredients
              </button>
            </section>
            <mat-list *ngIf="this.viewIngredientList" role="list">
              <mat-list-item role="listitem" *ngFor="let ingredient of meal.ingredientList">{{ingredient}}</mat-list-item>
            </mat-list>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewDescription=!this.viewDescription">
                View Description
              </button>
            </section>
            <p *ngIf="this.viewDescription">{{meal.description}}</p>
          </mat-expansion-panel>


        </mat-card>
      </div>

      <div class="container">
        <button (click)="getLunch()" mat-raised-button color="warn">
          <mat-icon>visibility</mat-icon> Get All Lunchs
        </button>
        <h2>Lunch</h2>

        <mat-card cdkDropList
                  id="lunch"
                  #lunchList="cdkDropList"
                  [cdkDropListData]="lunch"
                  [cdkDropListConnectedTo]="[newList, breakfastList, dinnerList]"
                  (cdkDropListDropped)="drop($event)"
                  class="list">
          <p class="empty-label" *ngIf="lunch.length === 0 && lunchFromDB.length === 0">No Meals</p>

          <mat-expansion-panel hideToggle="true" style="border-radius: 40px" (edit)="editMeal('lunch', meal)" *ngFor="let meal of lunch" cdkDrag>
            <mat-expansion-panel-header (click)="stopHeaderClick($event)">
              <mat-panel-title (click)="stopHeaderClick($event)">
                {{meal.title}}
              </mat-panel-title>
              <button mat-icon-button (click)="togglePanel()">
                <mat-icon>{{panelOpenState ? 'expand_less' : 'expand_more'}}</mat-icon>
              </button>
            </mat-expansion-panel-header>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewIngredientList=!this.viewIngredientList">
                View Ingredients
              </button>
            </section>
            <mat-list *ngIf="this.viewIngredientList" role="list">
              <mat-list-item role="listitem" *ngFor="let ingredient of meal.ingredientList">{{ingredient}}</mat-list-item>
            </mat-list>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewDescription=!this.viewDescription">
                View Description
              </button>
            </section>
            <p *ngIf="this.viewDescription">{{meal.description}}</p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle="true" style="border-radius: 40px" *ngFor="let meal of lunchFromDB" cdkDrag>
            <mat-expansion-panel-header (click)="stopHeaderClick($event)">
              <mat-panel-title (click)="stopHeaderClick($event)">
                {{meal.title}}
              </mat-panel-title>
              <button mat-icon-button (click)="togglePanel()">
                <mat-icon>{{panelOpenState ? 'expand_less' : 'expand_more'}}</mat-icon>
              </button>
            </mat-expansion-panel-header>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewIngredientList=!this.viewIngredientList">
                View Ingredients
              </button>
            </section>
            <mat-list *ngIf="this.viewIngredientList" role="list">
              <mat-list-item role="listitem" *ngFor="let ingredient of meal.ingredientList">{{ingredient}}</mat-list-item>
            </mat-list>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewDescription=!this.viewDescription">
                View Description
              </button>
            </section>
            <p *ngIf="this.viewDescription">{{meal.description}}</p>
          </mat-expansion-panel>

        </mat-card>
      </div>

      <div class="container">
        <button (click)="getDinner()" mat-raised-button color="warn">
          <mat-icon>visibility</mat-icon> Get All Dinners
        </button>
        <h2>Dinner</h2>

        <mat-card cdkDropList
                  id="dinner"
                  #dinnerList="cdkDropList"
                  [cdkDropListData]="dinner"
                  [cdkDropListConnectedTo]="[newList, breakfastList, lunchList]"
                  (cdkDropListDropped)="drop($event)"
                  class="list">
          <p class="empty-label" *ngIf="dinner.length === 0 && dinnerFromDB.length === 0">No Meals</p>
          <mat-expansion-panel hideToggle="true" style="border-radius: 40px" (edit)="editMeal('dinner', meal)" *ngFor="let meal of dinner" cdkDrag>
            <mat-expansion-panel-header (click)="stopHeaderClick($event)">
              <mat-panel-title (click)="stopHeaderClick($event)">
                {{meal.title}}
              </mat-panel-title>
              <button mat-icon-button (click)="togglePanel()">
                <mat-icon>{{panelOpenState ? 'expand_less' : 'expand_more'}}</mat-icon>
              </button>
            </mat-expansion-panel-header>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewIngredientList=!this.viewIngredientList">
                View Ingredients
              </button>
            </section>
            <mat-list *ngIf="this.viewIngredientList" role="list">
              <mat-list-item role="listitem" *ngFor="let ingredient of meal.ingredientList">{{ingredient}}</mat-list-item>
            </mat-list>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewDescription=!this.viewDescription">
                View Description
              </button>
            </section>
            <p *ngIf="this.viewDescription">{{meal.description}}</p>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle="true" style="border-radius: 40px" *ngFor="let meal of dinnerFromDB" cdkDrag>
            <mat-expansion-panel-header (click)="stopHeaderClick($event)">
              <mat-panel-title (click)="stopHeaderClick($event)">
                {{meal.title}}
              </mat-panel-title>
              <button mat-icon-button (click)="togglePanel()">
                <mat-icon>{{panelOpenState ? 'expand_less' : 'expand_more'}}</mat-icon>
              </button>
            </mat-expansion-panel-header>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewIngredientList=!this.viewIngredientList">
                View Ingredients
              </button>
            </section>
            <mat-list *ngIf="this.viewIngredientList" role="list">
              <mat-list-item role="listitem" *ngFor="let ingredient of meal.ingredientList">{{ingredient}}</mat-list-item>
            </mat-list>
            <section style="padding:5px">
              <button mat-raised-button color="warn" (click)="this.viewDescription=!this.viewDescription">
                View Description
              </button>
            </section>
            <p *ngIf="this.viewDescription">{{meal.description}}</p>
          </mat-expansion-panel>

        </mat-card>
      </div>

    </div>
  </div>
</div>
